.home-container .el-input{
  width:200px;
}

.home-container .el-input-number{
  width:200px;
}

.home-container .input-shot,.home-container .input-shot .el-input{
  width:140px;
}
.home-container .input-shot.el-input-number{
  width:140px;
}

.el-checkbox.is-bordered+.el-checkbox.is-bordered{
  margin-left:0;
}

.el-checkbox.is-bordered.el-checkbox--small{
  width:80px;
}
.el-radio--small.is-bordered{
  width:80px;
  margin-bottom:10px;
}
.el-radio.is-bordered+.el-radio.is-bordered{
  margin-left:0 !important;
}


.el-select .el-input{
  width:100%;
}
.el-pagination__editor.el-input{
  width:50px;
}
